/* You can add global styles to this file, and also import other style files */
body{
    background:url('../src/git.png')no-repeat center;
    text-align: center;
    background-position: top;
    margin-top: 5%;
    
    
}
h1{
    margin-bottom: 30%;
    text-align: center;
    margin-top: 20%;
}
